h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(121, 121, 121);
    font-family: 'Inter';
}


.header {
    background-image: url(/images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 150px;*/
    border-bottom: 3px solid #FFF;
    padding-left: 204px;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 48px;
}

.container.position {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    width: 293px;
    justify-content: space-between;
    margin-left: 184px;
}

.link-text {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;

}

.menu-item {
    list-style: none;
}

.link-text:hover {
    color: #94CFFF;
    ;
}

.link-login {
    background-color: #0B0E66;
    width: 141px;
    height: 42px;
    border: #26C7EA solid 2px;
    color: #26C6EA;
    text-decoration: none;
    text-align: center;
    font-family: 'HeadlandOne';
    font-size: 20px;
    font-weight: 400;
    border-radius: 35px 0px 35px 0px;
    margin-left: 228px;
}

.language {
    color: #FFF;
    font-family: 'HeadlandOne';
    font-size: 16px;
    font-weight: 400;
}

.switcher {
    width: 36px;
    height: 20px;
}

.lang-swicher {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 49px;
}

.hero {
    background-image: url(/images/mainscreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
}

.text-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.arrow {
    width: 152px;
    height: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    padding-top: 180px;
    padding-left: 204px;
}

.joinclan {
    background-color: #0B0E66;
    border: #26C7EA solid 2px;
    color: #26C6EA;
    font-family: 'HeadlandOne';
    font-size: 24px;
    font-weight: 400;
    width: 260px;
    height: 80px;
    border-radius: 35px 0px 35px 0px;
    margin-top: 42px;
    text-align: center;

}

.social {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    list-style: none;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: 622px;
}



.screen {
    background-color: #FFF;
    height: 350px;
}

.title {
    color: #141414;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 75px;
}

.title:hover {
    color: #0A3853;
    cursor: pointer;
}

.subtitle {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 16px;
}

.spacer {
    width: 400px;
    height: 120px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;

}

.screen3 {
    background-image: url(/images/screen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 741px;
}

.btn3 {
    background-color: #0B0E66;
    border: #26C7EA solid 2px;
    color: #26C6EA;
    font-family: 'HeadlandOne';
    font-size: 24px;
    font-weight: 400;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px 45px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 330px;
}


.screen5{
    background-image: url(/images/screen5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 704px;
    opacity: 0.66;
}

.title5 {
    color: #141414;
    font-family: 'HeadlandOne';
    font-size: 32px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;

}

.container1 {
    border: red solid 2px;
    width: 320px;
    height: 240px;
    background-color: #ffffffb9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    column-gap: 36px;
    margin-top: 45px;
}

.text-5 {
    color: #141414;
    text-align: center;
    font-family: 'HeadlandOne';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.24;
}


.arrow_2 {
    width: 152px;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 36px;
}

.footer {
    background-image: url(/images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 223px;
}

.container-footer {
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    padding-left: 204px;
    padding-top: 77px;
    width: 183px;
    height: 70px;
}

.spacer5 {
    margin-left: 80px;
    margin-top: 35px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    list-style: none;
    margin-left: 80px;
}

.contacts-item {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.contacts_2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.email {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

}

.info {
    display: inline;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 37px;
}